In [ ]:

import pandas as pd
import os 

project_root = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
cleaned_dir = os.path.join(project_root, "data", "cleaned")

#create dir for user if it does not exist
os.makedirs(cleaned_dir, exist_ok=True)

In [ ]:
df = pd.read_csv("../data/processed/illinois_corn_wide.csv")
df

,year,acres_planted,acres_harvested,production_bushels,yield_bu_per_acre
0,1902,NaN,10850000.0,4.448500e+08,41.0
1,1903,NaN,10550000.0,3.745250e+08,35.5
2,1904,NaN,10500000.0,4.095000e+08,39.0
3,1905,NaN,10500000.0,4.410000e+08,42.0
4,1906,NaN,10500000.0,4.095000e+08,39.0
...,...,...,...,...,...
119,2021,11000000.0,10850000.0,2.191700e+09,202.0
120,2022,10800000.0,10421518.0,2.143284e+09,214.0
121,2023,11200000.0,11050000.0,2.276300e+09,206.0
122,2024,10800000.0,10650000.0,2.311050e+09,217.0
123,2025,11200000.0,11000000.0,2.409000e+09,219.0

In [25]:
df.dtypes

year                    int64
acres_planted         float64
acres_harvested       float64
production_bushels    float64
yield_bu_per_acre     float64
dtype: object

In [26]:
df.isna().sum()

year                   0
acres_planted         24
acres_harvested        0
production_bushels     0
yield_bu_per_acre      0
dtype: int64

We notice that there are 24 missing values in "acres_planted" from years 1902-1925, but since we are doing analysis on acres_harvested, we will leave these observations in the dataset.

In [27]:
df.describe()

,year,acres_planted,acres_harvested,production_bushels,yield_bu_per_acre
count,124.000000,1.000000e+02,1.240000e+02,1.240000e+02,124.000000
mean,1963.500000,1.023592e+07,9.799961e+06,9.628793e+08,92.655645
std,35.939764,1.332565e+06,1.401729e+06,6.748151e+08,56.480589
min,1902.000000,7.645000e+06,6.713000e+06,1.483570e+08,22.100000
25%,1932.750000,9.201000e+06,8.535500e+06,3.948552e+08,40.750000
50%,1963.500000,1.041250e+07,9.992500e+06,7.018750e+08,79.000000
75%,1994.250000,1.120000e+07,1.087250e+07,1.436940e+09,135.000000
max,2025.000000,1.320000e+07,1.309623e+07,2.409000e+09,219.000000

In [28]:
df["acres_harvested"] = df["acres_harvested"] / 1000000
df["acres_planted"] = df["acres_planted"] / 1000000
df["production_bushels"] = df["production_bushels"] / 1000000
df

,year,acres_planted,acres_harvested,production_bushels,yield_bu_per_acre
0,1902,NaN,10.850000,444.850000,41.0
1,1903,NaN,10.550000,374.525000,35.5
2,1904,NaN,10.500000,409.500000,39.0
3,1905,NaN,10.500000,441.000000,42.0
4,1906,NaN,10.500000,409.500000,39.0
...,...,...,...,...,...
119,2021,11.0,10.850000,2191.700000,202.0
120,2022,10.8,10.421518,2143.284486,214.0
121,2023,11.2,11.050000,2276.300000,206.0
122,2024,10.8,10.650000,2311.050000,217.0
123,2025,11.2,11.000000,2409.000000,219.0

We divided each float by one million to make the columns easier to read and interpret. We just need to note that all values are expressed in millions.

In [29]:
df.describe()

,year,acres_planted,acres_harvested,production_bushels,yield_bu_per_acre
count,124.000000,100.000000,124.000000,124.000000,124.000000
mean,1963.500000,10.235920,9.799961,962.879346,92.655645
std,35.939764,1.332565,1.401729,674.815136,56.480589
min,1902.000000,7.645000,6.713000,148.357000,22.100000
25%,1932.750000,9.201000,8.535500,394.855250,40.750000
50%,1963.500000,10.412500,9.992500,701.875000,79.000000
75%,1994.250000,11.200000,10.872500,1436.940000,135.000000
max,2025.000000,13.200000,13.096231,2409.000000,219.000000

No outliers were detected and each column only contains valid data so no further cleaning is needed for this dataset.

In [ ]:
output_filename = "nass_clean.csv"
output_path = os.path.join(cleaned_dir, output_filename)

df.to_csv(output_path, index=False)
print(f"\nCleaned and annualized GSOM data written to: {output_path}")